In [53]:
# pip install --user pandas numpy datetime scipy pandas_datareader yfinance

import pandas as pd
import datetime
import rpar

In [54]:
# date range used for calculations
start_date = datetime.datetime(2018, 4, 17)
end_date = datetime.datetime(2021, 7, 24)

# set up symbols that we like in our portfolio + min trading lot for each symbol
yahoo_tickers = ['MAGN.ME','FIVE.ME','MTSS.ME','MRKP.ME','OGKB.ME','SNGSP.ME']
min_lots = pd.DataFrame([1, 1, 10, 10000, 1000, 100], yahoo_tickers).T.iloc[0]

# yahoo_tickers = ['AMZN', 'FB', 'RPAR']
# min_lots = pd.DataFrame([1, 1, 1], yahoo_tickers).T.iloc[0]

# yahoo_tickers = ['MAGN.ME']
# min_lots = pd.DataFrame([1], yahoo_tickers).T.iloc[0]

prices = rpar.get_prices(yahoo_tickers, start_date, end_date)

weights = rpar.get_weights(prices)

capital = 300000
assets = (capital * weights / prices.iloc[-1]).floordiv(min_lots)

invested = assets * min_lots * prices.iloc[-1]
residual = capital - invested.sum()

[*********************100%***********************]  6 of 6 completed

In [55]:
weights

MAGN.ME     0.148613
FIVE.ME     0.127455
MTSS.ME     0.198454
MRKP.ME     0.152057
OGKB.ME     0.122507
SNGSP.ME    0.250915
Name: weight, dtype: float64

In [56]:
assets

MAGN.ME     714.0
FIVE.ME      15.0
MTSS.ME      20.0
MRKP.ME      19.0
OGKB.ME      50.0
SNGSP.ME     20.0
dtype: float64

In [57]:
invested

MAGN.ME     44545.430008
FIVE.ME     35953.176270
MTSS.ME     58403.460693
MRKP.ME     43556.681573
OGKB.ME     36247.369647
SNGSP.ME    72449.851990
dtype: float64

In [58]:
residual

8844.029819011688

In [59]:
pd.DataFrame(invested).sort_values(0, ascending=False)

                     0
SNGSP.ME  72449.851990
MTSS.ME   58403.460693
MAGN.ME   44545.430008
MRKP.ME   43556.681573
OGKB.ME   36247.369647
FIVE.ME   35953.176270