In [13]:
# pip install --user pandas numpy datetime scipy pandas_datareader

import pandas as pd
import pandas_datareader.data as web
import numpy as np
import datetime
import rpar
from scipy.optimize import minimize

TOLERANCE = 1e-10

In [14]:
# date range used for calculations
start_date = datetime.datetime(2018, 4, 17)
end_date = datetime.datetime(2021, 4, 14)

# set up symbols that we like in our portfolio + min trading lot for each symbol
yahoo_tickers = ['MAGN.ME','FIVE.ME','MTSS.ME','MRKP.ME','OGKB.ME','SNGSP.ME']
min_lots = pd.DataFrame([1, 1, 10, 10000, 1000, 100], yahoo_tickers).T.iloc[0]

prices = rpar.get_prices(yahoo_tickers, start_date, end_date)

weights = rpar.get_weights(prices)

capital = 300000
assets = (capital * weights / prices.iloc[-1]).floordiv(min_lots)

invested = assets * min_lots * prices.iloc[-1]
residual = capital - invested.sum()

In [15]:
assets

Symbols
MAGN.ME     689.0
FIVE.ME      16.0
MTSS.ME      18.0
MRKP.ME      18.0
OGKB.ME      46.0
SNGSP.ME     17.0
dtype: float64

In [16]:
invested

Symbols
MAGN.ME     44616.193108
FIVE.ME     38144.000000
MTSS.ME     56996.998901
MRKP.ME     45377.998352
OGKB.ME     36588.401079
SNGSP.ME    72318.001556
dtype: float64

In [17]:
residual

5958.40700340271

In [18]:
pd.DataFrame(invested).sort_values(0, ascending=False)

                     0
Symbols
SNGSP.ME  72318.001556
MTSS.ME   56996.998901
MRKP.ME   45377.998352
MAGN.ME   44616.193108
FIVE.ME   38144.000000
OGKB.ME   36588.401079